@{
    ViewBag.Title = "About";
}

@Html.Partial("_LeftMenu")

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row bootstrap-admin-no-edges-padding">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Позитрон</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <p>Наша специализация - создание инновационных, не имеющих аналогов в мире, продуктов, которые помогают людям и бизнесу быть конкурентоспособными, компетентными и успешными. Принципы нашей работы:</p>
                <ul>
                    <li>Мы создаем программное обеспечение легкое в использовании. Все наши решения рождаются из потребностей клиентов, и мы всегда открыты для идей по развитию и совершенствованию наших программ.</li>
                    <li>Наши программы обладают интуитивно понятным, современным интерфейсом.</li>
                    <li>Функционал всех наших решений соответствует принципу MECE (взаимно исключающий, совместно исчерпывающий), т.е. пользователю доступен только тот набор функций, который он использует в работе.</li>
                    <li>Наши программы проходят тестирование и сертификацию на совместимость с программными продуктами Microsoft, 1С и др., что подтверждает качество наших продуктов.</li>
                </ul>
            </div>
        </div>
    </div>
</div>