@{
    ViewBag.Title = "Contact";
}

@Html.Partial("_LeftMenu")

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Калининград, Россия<br />
    Верхнеозерная, 24<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>